
\.vs/

Diary\.Teacher/bin/

Diary\.Teacher/obj/

Diary\.Student/bin/

Diary\.Student/obj/

Diary\.Resources/bin/
Diary\.Resources/obj/

Diary\.Repositories/bin/

Diary\.Repositories/obj/

Diary\.Framework/bin/

Diary\.Framework/obj/

Diary\.Controls/bin/

Diary\.Controls/obj/

Diary\.Admin/bin/

Diary\.Admin/obj/

Diary/bin/

Diary/obj/


--test
